.my-challenges-section{
    display: flex;
}

.my-challenges-content{
    margin: 0;
    width: 100%;
}

.my-challenge{
    border: 3px solid rgba(166, 8, 255, 0.5);
    box-sizing: border-box;
    border-radius: 8px;
    width: 755px;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    padding: 1em;
}

.my-challenge form{
    margin: 0;
}

.my-challenge h3{
    font-family: IBM Plex Mono;
    font-size: 18px;
    margin: 0;
}

.my-challenges-content h1{
    margin: 0;
    font-size: 30px;
    margin-left: 8.5em;
}

.send-btn {
    color: white;
    background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
    padding: 24px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 33px;
    border: none;
    width: 95px;
    height: 36px;
    display: flex;
    align-items: center;
    transition: 0.1 ease-in-out;
    margin: 1em;
}

.send-btn:hover {
    cursor: pointer;
    background: linear-gradient(44.11deg, #9f06ff 15.75%, #cd10ff 84.63%);
    opacity: 1;
  }

 .my-challenge img{
    margin: 0 1em;
 }

 .mysolution{
     margin: 0;
 }

 .grade p{
     font-size: 14px;
     line-height: 1.5em;
 }

 .my-challenge .text-input {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  
   .text-input input {
    width: 250px;
    border: 1px solid #cfd0d7;
    border-radius: 2px;
    height: 42px;
  }
  
  .my-challenge .text-input label {
    font-size: 14px;
    font-weight: bold;
    margin-left: 0;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .my-challenge form{
      display: flex;
      align-items: end;
  }

  .send-btn{
      margin: 0;
      margin-top: 1.7em;
  }